<div class="container">

    <div class="row fond_blanc mt-5" *ngIf="isLogin">
        <div class="col-12 mt-2 mb-2">
          <div class="row">
  
            <div class="col-md-6">
              <h3>Liste des Produits</h3>
            </div>
            <div class="col-md-3">
              <!-- Button trigger modal -->
             <!-- <button type="button" class="btn btn-primary"
              (click)="clickPdf()">
                pdf
              </button>-->
              <a href="#" class="btn btn-primary" onclick="window.open('https://localhost:40000/api/Pdf/Get', '_blank', 'fullscreen=yes'); return false;">Exporter</a>

            </div>  
             <div class="col-md-3">
              <!-- Button trigger modal -->
               <button type="button" class="btn btn-primary"
              (click)="addClick()" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Ajouter
              </button>

            </div>
          </div>
  
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Libellé</th>
                    <th scope="col">Description</th>
                    <th scope="col">Prix unitaire</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Date de Premption</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let produit of produits">
                    <td>{{ produit.Id }}</td>
                    <td>{{ produit.Libelle }}</td>
                    <td>{{ produit.Description }}</td>
                    <td>{{ produit.PU }}</td>
                    <td>{{ produit.Quantitee }}</td>
                    <td>{{ produit.DatePeremtion | date:'dd/MM/yyyy' }}</td>
                    <td class="text-center">
                      <div class="btn-group">
                              <i class="fas fa-edit" 
                              (click)="editClick(produit)" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                              <i class="far fa-trash-alt text-danger" (click)="delete(produit.Id)"></i>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text">Libellé *</span>
            <input type="text" class="form-control" [(ngModel)]="Libelle"/>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Description *</span>
            <input type="text" class="form-control" [(ngModel)]="Description"/>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Prix Unitaire *</span>
            <input type="number" class="form-control" [(ngModel)]="PU"/>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Quantité *</span>
            <input type="number" class="form-control" [(ngModel)]="Quantitee">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Date de Peremption *</span>
            <input type="date" class="form-control" [(ngModel)]="DatePeremtion">
          </div>
          
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
          <button type="button" (click)="createClick()" 
            *ngIf="Id==0" class="btn btn-primary">Ajouter</button>
          
            <button type="button" (click)="updateClick()" 
            *ngIf="Id!=0" class="btn btn-primary">Modifier</button>
        </div>
      </div>
    </div>
  </div>